/* Fontes Importadas */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --fonte-dancing: 'Dancing Script', cursive;
    --fonte-tangerine: 'Tangerine', cursive;
    --fonte-poppins: 'Poppins', sans-serif;

    /* Paleta de tons rosados */
    --rosa-claro: #f5c4c8;
    --rosa-medio: #f64776;
    --branco: #ffffff;
    --preto: #000000;
    --rosa-queimado: #db8f95;
    --rosa-forte: #dc095c;
    --rosa-escuro: #d73a57;
    --rosa-bebe: #f2acb2;
    --rosa-pastel: #f2b0bc;
}